<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>	

<body>
	<!-- Header -->
	<%- include('./partials/header') %>	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="http://localhost:3000/bears" method="get">
				<div>
					<label class="form-label" for="email">Usuario:</label>
					<input class="form-input" id="email" type="email" name="email">
				</div>
				<div>
					<label class="form-label" for="password">Password:</label>
					<input class="form-input" id="password" type="password" name="pass" value="">
				</div>
				<div>
					<label class="form-label" for="recordame">Recordame</label>
					<input class="form-input-recordame" type="checkbox" id="recordarme" name="recordarme">
				</div>
	

				<button class="form-input" type="submit">Login</button>
			</form>



	<!-- footer -->
	<%- include('./partials/footer') %>	
	<!-- /footer -->
</body>

</html>