<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>	

<body>
	<!-- Header -->
	<%- include('./partials/header') %>	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="http://localhost:3000/mercadoLibre" method="get">
				<div>
					<label for="imagen">Imagen:</label>
					<input id="imagen" type="file" name="imagen">
				</div>
				<div>
					<label for="nombre">Nombre del producto:</label>
					<input id="nombre" type="text" name="nombre" value="">
				</div>
				<label for="descripcion">Descripción:</label>
				<div>
					<textarea name="descripcion" id="" cols="30" rows="10"></textarea>
					
				</div>

				<button type="submit">Agregar</button>
			</form>

	<!-- footer -->
	<%- include('./partials/footer') %>	
	<!-- /footer -->
</body>

</html>